[submodule "frontend"]
    path = frontend
    url = git@github.com:jayvilla/discord-clone-frontend.git

[submodule "backend"]
    path = backend
    url = git@github.com:jayvilla/discord-clone-backend.git
